body{
    display: flex;
    flex-direction: column;
    font-family:  Roboto, Helvetica, sans-serif;
    margin: 0;
}

/* header CSS */

#header{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    gap: 40px;
    /* align-items: center; */
    height: 350px;
}

#leftBit{
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: space-between;
    margin-bottom: 50px;
}

#textDiv{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#rightBit{
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: space-between;
    margin-bottom: 50px;    
}

#logotxt{
    font-size: 20px;
    color: #F9FAF8;
}

#links{
    display: flex;
    justify-content: right;
    gap: 20px;
    margin: 20px;
    margin-right: 0px;
}

#hero{
    font-size: 36px;
    color: #F9FAF8;
    font-weight: 800;
    margin: 0px;    
}

#hdrTxt, .header-links, #footertext{
    color: #E5E7EB;
    font-size: 16px;
}
#hdrTxt{
    margin-top: 5px;
    margin-bottom: 5px;
}

.header-links{
    text-decoration: none;
}

button{
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 4px 18px;
    border-radius: 5px;
    border: 0px;
}

#header-img{
    height: 200px;
    width: 400px;
}


/* content CSS */

#section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.sec1divs{
    display: flex;
    flex-direction: column;
}

#inform{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

#imgSubsec{
    display: flex;
    gap: 40px;
    text-align: center;
}

.sec1-img{
    width: 100px;
    height: auto;
    border: 4px solid #3882F6;
    border-radius: 8px;
}

.sec1-text{
    font-size: 16px;
}

#section2{
    background-color: #eeeeeeee;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#quote{
    width: 600px;
    text-align: justify;
    font-size: 24px;
    font-style: italic;
    font-weight: light;
    color:  #1F2937;
}

#credit{
    width: 600px;
    font-weight: bold;
    text-align: right;
    margin-top: 0px;
}

#section3{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#innerDiv{
    display: flex;
    background-color: #3882F6;
    width: 1000px;
    height: 100px;
    border-radius: 15px;
    justify-content: center;
    gap: 20px;
}

#s3textDiv{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#s3text1{
    margin: 0px;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 20px;
}

#s3text2{
    margin: 0px;
    margin-top: 4px;
    color: #E5E7EB;
    font-size: 16px;
}

#s3butn{
    border: 2px solid white;
}

#sec3btnDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#footer{
    background-color: #1F2937;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#footertext{
    font-size: 12px;
}